@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Welcome to the Factory Manager</h1>

<hr>

<h4>Machines</h4>
@if (Model["machines"].Length == 0)
{
  <p>No machines have been added yet!</p>
}
<ul>
  @foreach (Machine machine in Model["machines"])
  {
    <li>@Html.ActionLink(@tag.Title, "Details", "Machines", new { id = @machine.MachineId })</li>
  }
</ul>

<h4>Engineers</h4>
@if (Model["engineers"].Length == 0)
{
  <p>No engineer have been added yet!</p>
}
<ul>
  @foreach (Engineer engineer in Model["engineers"])
  {
    <li>@Html.ActionLink(@engineer.Description, "Details", "Engineers", new { id = @engineer.EngineerId })</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Manage machines", "Index", "Machines")</p>